<div class="navigation">
	<%= link_to 'Strona główna', :controller => "categories", :action => "main" %> &gt; O firmie
</div> 
<% title 'O firmie' ,false %>
<h2>O firmie</h2>
<div>
	Donec molestie nunc quis metus condimentum nec hendrerit quam blandit. 
	Curabitur consequat imperdiet felis, eget facilisis odio sagittis at. 
	Morbi aliquet volutpat nisl, a tincidunt augue porttitor non. 
	<br/><br/>
	Aliquam dui tellus, aliquet et vulputate in, blandit id augue. 
	Sed at purus est. Cras dapibus urna vel nibh suscipit at pellentesque urna vulputate. 
	Vivamus sollicitudin orci at enim mattis tristique. Etiam pharetra ultricies lobortis. Donec metus orci, congue id tempor quis, consequat eget libero. In hac habitasse platea dictumst. Vestibulum blandit, est et sodales mollis, quam metus semper turpis, vitae blandit sem mi nec purus. Praesent ultrices nisi at est malesuada et laoreet nibh posuere. Curabitur est nisi, rhoncus eu suscipit eu, lobortis pellentesque tellus. Ut porttitor sapien eu diam tincidunt ut porttitor leo facilisis. Pellentesque accumsan nisi sed tellus mattis porttitor. Pellentesque vulputate lacus et nisl elementum tristique. Nam semper rutrum commodo. 
		
	
</div>
